html {
	background-color: #EFEDF2;
}

body {
	width: 90%;
	margin: 1em auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label,
.radios {
	display: block;
	margin-bottom: 0.5em;
}

.radios label {
	display: inline;
}

label span { /* XXX: hacky */
	display: inline-block;
	width: 5em;
}

.button {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.placeholder {
	opacity: 0.25;
}

.board {
	display: table;
	width: 100%;
}

.columns,
.lane {
	display: table-row;
}

.columns > *,
.lane > * {
	display: table-cell;
	border-bottom: 0.5em solid transparent; /* XXX: hacky */
}

.columns > *,
.lane > :first-child {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #9B9A9D;
}

.lane ul {
	margin: 0;
	padding: 0;
}

.tasks {
	list-style-type: none;
}

.tasks > li {
	position: relative;
	margin: 0 1em 1em 0;
	border-width: 0;
	border-top: 5px solid #9B9A9D;
	border-radius: 4px;
	padding: 0.2em 0.5em;
	background-color: #FFF;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	cursor: pointer; /* draggable */
}

.tasks h3,
.tasks p {
	margin: 0.5em 0;
}

.tasks h3 {
	font-size: 1em;
	font-weight: normal;
}

.tasks .delete {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	opacity: 0.5;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}
.tasks .delete:focus,
.tasks .delete:hover,
.tasks .delete:active {
	transform: scale(1.2);
	opacity: 1;
}

.tasks > .urgent {
	border-color: #C33;
}

.tasks > .important {
	border-color: #E0AB18;
}

.tasks > .casual {
	border-color: #35B15A;
}
