.board {
	display: table;
	width: 100%;
}

.columns,
.lane {
	display: table-row;
}

.columns > *,
.lane > * {
	display: table-cell;
	border-bottom: 0.5em solid transparent; /* XXX: hacky */
}

.columns,
.lane > :first-child {
	font-weight: bold;
}

.lane ul {
	margin: 0;
	padding: 0;
}
